.navBar {
  height: var(--size-navbar-height);
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-bg-topbar);
  backdrop-filter: blur(2px);
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.left {
  display: flex;
  align-items: center;
  gap: 6px;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: var(--color-icon);
}

.brandIcon {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 0.3px solid #FFFFFF;
  overflow: hidden;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-primary);
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 6px;
}

.right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: var(--color-icon);
}
